/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

body
{
    background-color: #c6f2d9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{

    text-align: center;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: initial;
    font-size: 60px;

}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

nav {
    background-color: #f6f3fb;
    padding: 20px 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

nav a {
    text-decoration: none;
    color: #7A787F;  /* gris elegante */
    font-weight: 500;
    transition: 0.3s ease;
}

nav a:hover {
    color: #5F7F73;  /* verde más oscuro */
}