/*Aquí solo va el layout base y las reglas generales*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg);
}

.section {
    padding: 60px 20px;
}

